
body {
    margin: 0;
    padding:0;
    overflow: hidden;
    cursor: url("Images\PixelCursor2.png"), pointer;

   
}


.buttons{
    
    position: fixed;
    bottom: 20px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button{
    background-color: rgb(245, 210, 10);
    color: rgb(255, 252, 240);
    height: 50px;
    width: 500px;
    font-family: "press Start 2P";
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px auto ; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.startPage{

    height: 100vh;
    background-size: cover;
    background-image:url("Images/Bg8.jpg");
    background-repeat: no-repeat;
    
    
}
 
.fade-in-image { animation: fadeIn 12s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.mainPage{
    
    height: 100vh;
    background-size: cover;
    background-image:url("Images/Mainbg2.jpg");
    background-repeat: no-repeat;
}

.Comp {
 position: absolute;
 position: absolute;
 top: 15%;
  left: 48%;
 transform: translate(-50%, -50%);
 height: 20px; 
 width: 30px; 
}
.Phone{
    position: absolute;
    top: 50%; 
     right: 23%;
    transform: translate(-50%, -50%);
    height: 20px; 
    width: 30px;
  }

p {
    color:  #FFD148;
    position: relative;
    height: auto;
    font-family: "Press Start 2P";
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "press Start 2P";
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  /* textbox code*/
  .typeWriter {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    text-align: right;
    animation: typing 4s forwards;
    animation-timing-function: steps(40, end);
    animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .textBox {

    height: 100px;
    display: inline-block;
    width: auto;
    background-color: rgba(50, 42, 168, 0.7);
    position: relative;
    border: 6px solid #FFD148;
    background-color: #270745;
  }
  /* textbox code ends*/
  .Me {
    position: absolute;
    bottom: 10px;
    right: calc(100% + 20px);
    height: 315px;
    width: 100px;
  }

  .planet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 790px; 
    width: 1280px; 
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.planet img {
    height: 100%; 
    width: 100%;
}

@-webkit-keyframes slide-bottom {
    0% { -webkit-transform: translateY(0); transform: translateY(0); }
    50% { -webkit-transform: translateY(100px); transform: translateY(100px); }
    100% { -webkit-transform: translateY(0); transform: translateY(0); }
  }
  
  @keyframes slide-bottom {
    0% { transform: translateY(0); }
    50% { transform: translateY(100px); }
    100% { transform: translateY(0); }
  }
  
.slide-bottom {
	-webkit-animation: slide-bottom 3.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
	        animation: slide-bottom 3.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}

.waviy {
  position: relative;
  font-size: 100px;
 
}

.waviy span {
  font-family: "press Start 2P";
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}

.waviy .flip {
  position: relative;
}

.waviy .flip span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
}