
body {
    margin: 0;
    padding:0;
    overflow: hidden;
   
}

.buttons{
    position: fixed;
    bottom: 20px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button{
    background-color: rgb(245, 210, 10);
    color: rgb(255, 252, 240);
    height: 80px;
    width: 500px;
    font-family: "press Start 2P";
    font-size: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px auto ; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .startPage{

    height: 100vh;
   background-size: cover;
    background-image:url("Bg8.jpg");
    background-repeat: no-repeat;
   

 }
 
 .mainPage{
    
    height: 100vh;
    background-size: cover;
    background-image:url("Mainbg.jpg");
    background-repeat: no-repeat;
 }

p {
    color:  #FFD148;
    position: relative;
    height: auto;
    font-family: "Press Start 2P";
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "press Start 2P";
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  /* textbox code*/
  .typeWriter {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    text-align: right;
    animation: typing 4s forwards;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .textBox {
    height: 100px;
    display: inline-block;
    width: auto;
    background-color: rgba(50, 42, 168, 0.7);
    position: relative;
    border: 6px solid #FFD148;
    background-color: #270745;
  }
  /* textbox code ends*/
  .Me {
    position: absolute;
    bottom: 10px;
    right: calc(100% + 20px);
    height: 300px;
    width: 300px;
    z-index: 1;
  }

  .planet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; 
    width: 1000px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.planet img {
    height: 100%; 
    width: auto;
}

